*{
  margin: 0;
  padding: 0;
}

.socials{
  position: fixed;
  margin-top: 48vh;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  gap: 22px;
  border: 1px solid black;
  width: 5em;
  border-radius: 25px;
  padding: 14px 10px;
  height: 15em;
  margin-left: 1em;
}

.socials .navs{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  gap: 25px;
}

.socials .navs a{
  text-decoration: none;
}
.socials .navs a img{
  width: 2.5em;
  height: 2.5em;
}

.socials li{
  list-style-type: none;
}

.info-container{
  display: grid;
  place-items: center;
  gap: 3em;
  padding: 6em 6em 6em 8em;
}

.info-container .first-info{
  font-size: 3rem;
  line-height: 1;
}

.info-container .second-info{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.info-container .third-info{
  font-size: 1.20rem;
  line-height: 1.5rem;
}

.profile-pic-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-pic {
  width: 100%;
  height: auto;
  display: block;
}

.home-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center; /* Center text within the container */
  min-height: 40vh; /* Optional: Set a minimum height to make sure content is centered on the viewport */
}

.mern{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mern-bracket{
 font-size: 1.25em;
 font-weight: 100;
}

.mern-img{
  width: 1em;
  height: 1em;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-icon p{
  font-size: 4em;
  line-height: 1em;
}

/*prevent copy of icons for User experince*/
.unselectable {   
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 8.5vh;
  border-radius: 30px;
}

.navshake{
  animation: Navshake 1s infinite ;
}

.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  gap: 2em;
}

.navbar ul li a{
  text-decoration: none;
  color: #000;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.active {
  margin: 0.35em;
  border: 1px solid black;
  width: 12vw;
  border-radius: 30px;
  
}

.open{
  display: block;
}
.close{
  display: none;
}

.header{
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding: 0 2em;
}

.nav-button{
  height: 4.5em;
  width: 4.5em;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background: #93d6f1;
  z-index: 100;
}

/* Define a custom animation 
@keyframes shake {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}
 */

/* CSS */
@keyframes Navshake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
