@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&family=Roboto:wght@300;400;700&family=Varela+Round&family=Wavefont:wght@200;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* BEFORE THEME BLUE : 93d6f1  // AFTER THEME BLUE : 00ccff */

body {
  /* background-color: #000;
  color: #e8e8e8; */

  color: #000;
  /* background-color: #e8e8e8; */
  background-color: #fff;
}

.darkTheme {
  background-color: #000;
  color: #e8e8e8;
  transition: all 0.4s ease;
}

.smooth {
  transition: background-color 0.45s ease, color 0.45s ease;
}

/* SOCAILS */

/* EXTRA */

.left-container {
  display: flex;
}


.sidebar {
  width: 4.1em;
  /* Adjust the width of the sidebar as needed */
  background-color: #000;
  padding: 1em 1em 1em 0.8em;
  position: fixed;
  height: 100%;
  /* Make it full height */
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.scrollable-content {
  max-height: 100%;
  /* Set a maximum height for scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling if content overflows */
  padding: 10px;
}

/*  */
.s-c {
  width: 86em;
  margin-left: 5em;
  overflow-x: hidden;
  z-index: -100;
}

/*  */
.pc-c {
  z-index: -100;
  padding: 2.5em 5em;
  width: 75em;
  margin-left: 5em;
}

.am-c {
  z-index: -100;
  padding: 5.5em 0 4em 0;
  height: 40vh;
}

/*  */
.skill-corousel {
  width: 100%;
  overflow-x: hidden;
  border-radius: 10%;
  border-left: 15px solid var(--accent-color);
  padding: 4em 0 2em 0;
  height: 70%;
}

/*  */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 270px;
  padding: 10px 0;
}

.card svg {
  position: absolute;
  display: flex;
  width: 55%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3,
.card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}


@keyframes bounce_613 {
  40% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(0.7);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}


/* HOME CONTAINER CSS */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 72vh;
}


.flyinTxtCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 10%;
  margin-left: 2em;
}

.flyIn {
  /* color: #fff; */
  font-family: 'Raleway';
  text-transform: uppercase;
  line-height: 1.2em;
  position: relative;
  letter-spacing: 0.2em;
}

.lineOne {
  font-size: 110px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition-delay: .2s;
  transition: .4s ease in;
  animation: txtFlyIn .5s linear;
}


/* Specially for animation other elements */
.animate {
  transition-delay: .2s;
  transition: .4s ease in;
  animation: txtFlyIn .5s linear;
}

.animate-divider {
  transition-delay: .2s;
  transition: .4s ease in;
  animation: width .5s linear;
}


/*  */

.lineFour {
  transition-delay: 2s;
  transition: 2s ease in;
  animation: fadeIn 2s linear;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); 
  color: #000;*/

  /* Added later */
  background-color: var(--accent-color);
  color: #000;
  border-radius: 20px;
  /*  */

  display: inline-block;
  box-sizing: border-box;
  max-width: 65%;
  max-width: 24em;
  font-size: 30px;
  padding: .2em .5em;
  margin-top: 30px;
}

.info-container {
  display: grid;
  place-items: center;
  gap: 1em;
  padding: 2em 2em 2em 5em;
}

.info-container .first-info {
  font-size: 3rem;
  line-height: 1;
}

/* .info-container .second-info {
  font-size: 1.25rem;
  line-height: 1.75rem;
} */

.info-container .third-info {
  font-size: 1.3rem;
  line-height: 1.5rem;
  transition-delay: .4s;
  transition: .6s ease in;
  animation: txtFlyIn .6s linear;
}

/* HOME DP */

.profile-pic-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  background: var(--accent-color);
}

.profile-pic {
  width: 100%;
  height: auto;
  display: block;
  transition-delay: .2s;
  transition: .4s ease in;
  animation: ppFlyIn .5s linear;
}


.profile-pic:hover {
  animation: rotateDP 2s infinite;
}

@keyframes rotateDP {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* MERN COMPONENT CSS */

.mern {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4em 0;
}

.mern-bracket {
  font-size: 1.25em;
  font-weight: 100;
}

.mern-img {
  width: 1em;
  height: 1em;
  animation: rotate 3s linear infinite;
}

/* keyframe for rotating icons of mern component */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating-icon p {
  font-size: 4em;
  line-height: 1em;
}

/*prevent copy of icons for User experince*/
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* NAVBAR + NAV BUTTON */

.navbar {
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 8.5vh;
  border-radius: 30px;
}

/* class for nav shaking */
.navshake {
  animation: Navshake 1s infinite;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  gap: 2em;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* to show active tab in navbar */
.active {
  margin: 0.35em;
  border: 1px solid black;
  width: 12vw;
  border-radius: 30px;
  background: #fff;
}

/* show or hide navbar */
.open {
  display: block;
}

.close {
  display: none;
}

/* Container for nav and nav button */
.header {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding: 0 2em;
}

.nav-button {
  height: 4.5em;
  width: 4.5em;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background: var(--accent-color);
  z-index: 100;
}


/* skills cards */

.skill-container {
  height: 50vh;
  margin: 8em auto 5em auto;
  padding: 0 auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.skill-heading {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.skill-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 1em;
}

.skill-pic-container .image-name {
  margin: 1em 0;
  font-size: 20px;
}

.skill-pic {
  width: 7em;
  height: 7em;
  display: block;
}


/* DARK TO LIGHT */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  transform: rotate(-90deg);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked+.slider {
  background-color: #522ba7;
}

input:checked+.slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* keyframe for typing text container fade */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* keyframe for animating text */
@keyframes txtFlyIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* keyframe for animating dp */
@keyframes ppFlyIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes width {
  0% {
    transform-origin: left center;
    /* Set the origin to the left */
    transform: scaleX(0);
  }

  100% {
    transform-origin: left center;
    transform: scaleX(1);
  }
}



/* DIVIDER  */

.divider {
  position: relative;
  display: flex;
  gap: 1em;
  align-items: center;
  margin-left: 8em;
}

.circle1,
.circle2 {
  background: var(--accent-color);
  border-radius: 50%;
}

.circle1 {
  width: 1.2em;
  height: 1.2em;
}

.circle2 {
  width: 0.8em;
  height: 0.8em;
}

.line {
  background: var(--accent-color);
  height: 0.4em;
  width: 50vw;
  border-radius: 20px;
  transition: width 0.3s ease;
}

.Aboutme {
  word-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 2em 2em 7em;
  font-size: 1.3em;
  font-family: 'Varela Round', sans-serif;
  /* font-size: 2.5em; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Wavefont', cursive; */

}

.Aboutme
.aboutme-info {
  padding: 0.5em;
  font-size: 600;
}

.aboutme-info2 {
  padding: 0 1em;
  word-spacing: 2px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  font-size: 27px;
  padding: .2em .5em;
  margin-top: 15px;
}

.Aboutme p span {
  text-transform: uppercase;
  font-size: 2em;
  color: var(--accent-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  margin: 0 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.am-pic {
  width: 100%;
}

.am-pic img {
  width: 300px;
  height: 250px;
}

/*=====Project card ===== */

.project-card {
  background: #000;
}

.project-card {
  background-image: url(./Assets/Profile_Pic.jpeg);
  background-size: contain;
}

.center {
  transform: scale(1.5);
  display: inline-flex;
  user-select: none;
  margin-left: 0.5em;
  margin-bottom: 5em;
  padding: 0 4em;
}

.article-card {
  width: 250px;
  height: 170px;
  margin: 0.8em 0.25em;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .project-content {
  box-sizing: border-box;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  width: 100%;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  display: flex;
  align-items: baseline;
  justify-content: space-betweeen;
}

.article-card-blur {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.article-card:hover .article-card-blur {
  opacity: 0.5;
}


.article-card .date,
.article-card .title,
.article-card .content-link {
  margin: 0;
  position: relative;
  bottom: -70px;
}

.article-card .date {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
}

.article-card .title {
  font-size: 17px;
  color: #fff;
}

.article-card .content-link {
  font-size: 10px;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.project-card-container {
  margin-left: 4em;
  height: 50vh;
}

.article-card:hover .date,
.article-card:hover .title {
  transform: translateY(-75px);
  transition: all 1s cubic-bezier(.46, 1.48, .18, .81);
  transition-delay: 0.1s;
}


.content-link .icon1,
.content-link .icon2 {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  bottom: 0px;
}

.article-card:hover .content-link .icon1,
.article-card:hover .content-link .icon2 {
  transform: translateY(-75px);
  transition: all 1s cubic-bezier(.46, 1.48, .18, .81);
}

.article-card:hover .content-link .icon1{
  transition-delay: 0.30s;
}
.article-card:hover .content-link .icon2{
  transition-delay: 0.60s;
}


.content-link .icon2 a{
  padding-top: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-link .icon2 img {
  width: 70%;
  height: 70%;
  margin: auto;
}

/* ======== Category selector============== */

.container{
  margin-left: 25%;
  margin-bottom: 4em;
  width: 50%; 
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding:0.3em 1em 1em 1em;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 100%;
  font-size: 1.4em;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  padding-top: 15px;
}


/* .container input[type="radio"]:checked + label {
  color: #185ee0;
} */

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 55px;
  width: 188px;
  background-color: var(--accent-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
 
  .tabs {
    transform: scale(0.6);
  }
}
